@import "../../sass/main";

h4 {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.selection-wrapper {
  padding: 0 50px;
}
input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 308px;

  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
label {
  font-family: Prosto One;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #8a8a8a;
}

.input__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 660px;
  height: 238px;
  gap: 20px;

  div {
    display: flex;
    flex-direction: column;
  }
}

.addres {
  width: 140px;
  input {
    width: 140px;
  }
}
.link-payment {
  margin-top: 20px;
  width: 308px;
  height: 50px;
  color: white;
  padding: 14px 32px;
  background: #212526;
  border-radius: 5px;
  display: block;
  text-align: center;
}
.underline-on-hover {
  position: relative;
}

.underline-on-hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f05a00;
  visibility: visible;
  //   transform: scaleX(0);
  transition: transform 0.3s ease, visibility 0.3s ease;
}

.underline-on-hover:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.underline {
  position: relative;
}
.underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f05a00;
  visibility: visible;
  transform: scaleX(0);
  transition: transform 0.3s ease, visibility 0.3s ease;
}
.underline:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
h4 {
  margin: 10px;
}
.radio__wrapper {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

select {
  width: 200px;
}

.contaner-pickup {
  display: none;
}
.wrapper-pickup {
  display: flex;
  flex-direction: column;
  gap: 30px;
  p {
    //styleName: Text description;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: black;
  }
}
