.wrapper-radio-in-order {
  display: flex;
  flex-direction: column;
  h4 {
    padding: 0 40px;
  }
  div {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;

    div {
      display: flex;
      gap: 10px;
      label {
        color: black;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
      }
    }
  }
}
.paymentSection {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
}
button {
  max-width: 308px;
  height: 50px;
  padding: 14px 32px;
  border-radius: 5px;
  background: #f05a00;
  color: white;
}
pre {
  height: 32px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
form {
  padding: 10px 55px;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  gap: 10px;
}
