.link__wrappper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 24px 0 32px 0;
}

.link__font {
  @include textStyle(14px, 400, Raleway, #8a8a8a);
}

.details__title {
  @include textStyle(30px, 400, Prosto One, #000);
  max-width: 728px;
  width: 100%;
  padding: 0 0 40px 0;
}

.link__font-color {
  color: #000;
}

.details,
.link {
  width: 100%;
  background-color: #f2f5f7;
}

.details__img-wrapper {
  width: 100%;
  img {
    width: 100%;
    height: 450px;
  }
}

.details__wrapper {
  padding: 48px 0 60px 0;
}

.details__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details__text {
  @include textStyle(16px, 400, Raleway, #000);
}

.details__box-wrapper {
  display: flex;
  gap: 50px;
  padding: 50px 0 0 0;
  flex-wrap: wrap;
}

.details__box-left {
  display: flex;
  flex-direction: column;
  gap: 139px;
  flex: 0.7;
}

.details__box-text-left-bc {
  background-color: #f05a00;
  padding: 178px 77px;
  color: #ffffff;
}

.details__box-left-text,
.details__box-right-text-bc {
  @include textStyle(16px, 400, Raleway, #000);
}

.details__box-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  img {
    max-width: 950px;
    width: 100%;
  }
}

.details__box-right-text-bc {
  width: 100%;
  background-color: #ffffff;
  padding: 120px 80px 120px 80px;
}

.shop__online-wrapper {
  padding: 68px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.shop__online-title {
  @include textStyle(20px, 400, Prosto One, #000);
}

.shop__online-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  li {
    a {
      @include textStyle(16px, 400, Raleway, #373737);
    }
  }
}

.matiral {
  width: 100%;
  background-color: #f2f5f7;
}

.matiral__title {
  max-width: 827px;
  width: 100%;
  @include textStyle(20px, 400, Prosto One, #000);
  padding: 0 0 12px 0;
}

.matiral__text {
  @include textStyle(16px, 400, Raleway, #000);
  padding: 0 0 48px 0;
}

table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border: 1px solid #dedbdb;
  border-left: none;
  border-right: none;
  border-right: transparent;
  border-left: transparent;
  display: table;
}

td {
  padding: 20px;
  text-align: center;
  @include textStyle(14px, 400, Raleway, #000);
}

th {
  padding: 20px 30px 20px 50px;
  @include textStyle(18px, 500, Raleway, #000);
}
.matiral__img-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  img {
    height: 400px;
    width: 65%;
    transform: translateY(191px);
  }
}

.matiral__text-wrapper {
  width: 35%;
  background-color: #f05a00;
}
.matiral__img-text {
  max-width: 450px;
  width: 100%;
  padding: 80px 80px 150px 80px;
  @include textStyle(16px, 500, Raleway, #fff);
}
