@mixin flex($flex, $center, $centerw) {
  display: $flex;
  justify-content: $center;
  align-items: $centerw;
}
h1 {
  font-family: Prosto One;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
}
body {
  background: whitesmoke;
}
section {
  width: 1300px;
  border-radius: 5px;
  margin: 0 auto;
  ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2px;
    li {
      background: white;
      border-radius: 5px;
      a {
        @include flex(flex, center, center);
        border: 1px solid transparent;
        width: 432px;
        height: 64px;
        color: black;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
      }
    }
    li:hover {
      background: #f05a00;
      a {
        color: white;
      }
    }
  }
}
.cartCatologs {
  width: 310px;
  margin: 50px 0 30px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: auto auto;
  background: whitesmoke;
  img {
    width: 200px;
    height: 200px;
    margin: 50px auto 0;
  }
  a {
    @include flex(flex, center, center);
    width: 310px;
    height: 60px;
    border: 1px solid black;
    border-radius: 0px 0px 5px 5px;
    font-family: Raleway;
    background: #212526;
    color: white;
  }
  a:hover {
    background: #f05a00;
    color: white;
  }
}
.contanerCart {
  border-radius: 5px 5px 0px 0px;
  background: white;
  margin-top: 4px;

  .contanerCartCatalog {
    margin: 0 auto;
    max-width: 970px;
    border: 1px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}
.refreshBranch {
  width: 960px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid black;
  @include flex(flex, center, center);
  gap: 10px;
  button {
    border: none;
    background: transparent;
  }
  p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}
.toNextToBack {
  width: 183px;
  height: 32px;
  margin: 0 auto;
  text-align: center;
  p {
    display: flex;
    justify-content: space-around;
  }
}

mark {
  background: #f05a00;
  padding: 4px 3px 4px 8px;
  border-radius: 10px;
}
