<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <footer>
      <div class="container">
        <div class="footer__wrapper">
          <ul>
            <img
              class="footer__hidden-logo"
              src="../../svgs/logo-img.svg"
              alt="logo"
            />
            <li>
              <a href="#">Малярные товары</a>
            </li>
            <li>
              <a href="#">Электрооборудование</a>
            </li>
            <li>
              <a href="#">Спецодежда</a>
            </li>
            <li>
              <a href="#">Для дома и дачи</a>
            </li>
            <li>
              <a href="#">Сезонное</a>
            </li>
            <li>
              <a href="#">Инструмент</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#">О компании</a>
            </li>
            <li>
              <a href="#">Контакты</a>
            </li>
            <li>
              <a href="#">Новинки</a>
            </li>
            <li>
              <a href="#">Хиты сезона</a>
            </li>
            <li>
              <a href="#">Распродажи</a>
            </li>
          </ul>
          <div class="div-contacts">
            <img src="../../svgs/logo-img.svg" alt="logo" />
            <ul>
              <li>+7 495 120-32-14</li>
              <li>+7 495 120-32-15</li>
            </ul>
            <div>
              <ul class="sotial-media-contener">
                <li>
                  <a href="#"
                    ><img src="../../svgs/instagram.svg" alt="instagram-logo"
                  /></a>
                </li>
                <li>
                  <a href="#"><img src="../../svgs/vk.svg" alt="vk-logo" /></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="../../svgs/facebook.svg" alt="facebook-logo"
                  /></a>
                </li>
              </ul>
              <ul>
                <li><a href="#">Соглашение пользователя</a></li>
                <li>«Copyright © Название 2023»</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
